@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.limpiarEstilos::after {
    content: "";
    display: table;
    clear: both;
}

.presupuesto {
    display: grid;
    gap: 2rem;
    color: white;
    padding: 4rem 0;
    text-align: center;
    background-image: url(images/angelo-abear-knTKij60p3g-unsplash.jpg);
}

.contenedor_presupuesto {
    display: grid;
    padding-top: 1rem;
    text-align: left;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
}

.presupuesto_ingreso,
.presupuesto_egreso {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ingresos_totales {
    display: flex;
    align-items: center;
}

#porcentaje {
    position: absolute;
    left: 60%;
    margin-left: 1rem;
}

/**/

form {
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(70px, 1fr));
    gap: 5px;
    width: 50%;
    margin: 0 auto;
    padding-top: 4rem;
    align-items: center;
}

form input,
select {
    padding: 10px;
}

.btn {
    width: 50%;
    padding: 10px;
}

/**/

.ingresos_egresos_contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.elemento {
    padding-top: 1rem;
    display: flex;
}

.elemento .derecha {
    display: flex;
    margin-left: 1rem;
}


.elemento_porcentaje {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 45px;
    text-align: center;
}

.elemento-btn {
    margin-left: 1rem;
}


.elemento:hover .elemento-btn {
    display: block;
}